
<h1 class="error-message">{{message}}</h1>

<form action="/user/sign-up">
<button class="error-button">Click here to sign-up</button>
</form>

<form action="/user/log-in">
<button class="error-button">Already signed up? Click here to log in.</button>
</form>


