<!DOCTYPE html>
<html>
  <head>
    <title>Lab Express Basic Authentication</title>
    <link rel='stylesheet' href='/styles/style.css' />

  </head>
  <body>
    <nav class="navbar">
    <a href="/">Home</a>
    <br>
    <a href="/user/sign-up">Sign up to our awesome page!</a>
    <br>
    <a href="/user/log-in">Log in to our awesome page!</a>
    <br>
    </nav>
    {{{body}}}
  </body>
</html>
