<form method="POST">
<label for="user-name">Your username: </label>
<input id="user-name" type="text" name="user-name" placeholder="Enter a user name">
<br>
<br>
<label for="password">Your password: </label>
<input id="password" type="password" name="password" placeholder="Enter a password">
<br>
<br>
<button>Log in!</button>
</form>