<form method="POST">
<label for="username">Your username: </label>
<input id="username" type="text" name="username" placeholder="Enter a user name" required>
<br>
<br>
<label for="password">Your password: </label>
<input id="password" type="password" name="password" placeholder="Enter a password" required>
<br>
<br>
<button>Log in!</button>
</form>