<h1>Your personal page</h1>
{{#with user}}
<h1>{{username}}'s Profile</h1>


<form action="/user/edit" method="POST">
<label for="newName">Change your name</label>
<input id="newName" type="text" value={{username}} name="newName">
<button>Update!</button>
</form>

{{/with}}