<form method="POST">
<label for="username">Enter a user name of your liking</label>
<input id="username" type="text" name="username" placeholder="Enter a user name" required>
<br>
<br>
<label for="password">Enter a password:</label>
<input id="password" type="password" name="password" placeholder="Enter a password" required>
<br>
<br>
<button>Sign up!</button>
</form>