<form method="POST">
<label for="user-name">Enter a user name of your liking</label>
<input id="user-name" type="text" name="user-name" placeholder="Enter a user name">
<br>
<br>
<label for="password">Enter a password:</label>
<input id="password" type="password" name="password" placeholder="Enter a password">
<br>
<br>
<button>Sign up!</button>
</form>